name: CI
on:
  - push
  - pull_request
jobs:
  build:
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    name: 'Test on Node ${{ matrix.node }} and ${{ matrix.os }}'
    runs-on: '${{ matrix.os }}'
    strategy:
      # max-parallel: 1
      matrix:
        node:
          - 18
        os:
          - ubuntu-latest
          # - windows-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: 'Setup Node ${{ matrix.node }}'
        uses: actions/setup-node@v3
        with:
          node-version: '${{ matrix.node }}'
      - name: 'Install depependencies'
        run: npm install --force
      - name: 'Regenerate'
        run: npm run regen
      - name: 'ESLint'
        run: |
          npm run eslint
      - name: 'tscheck'
        run: |
          npm run tscheck
      - name: 'Test'
        run: |
          npm run test:cov
      - name: 'Test Build'
        run: |
          npm run build
      - name: 'Compatibilty Check'
        run: |
          npm run compatibilty_check
  release:
    name: 'Release'
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/next')
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v3
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: 'Install depependencies'
        run: npm install --force
      - name: 'Build'
        run: npm run build
      - name: 'Release'
        run: |
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
